.h1 {
  margin-top: 24px;
  margin-bottom: 34px;
  text-align: center;
  font-size: 46px;
  font-weight: 700;
line-height: normal;
}
.h2 {
  margin-bottom: 16px;
  font-size: 28px;
  font-weight: 700;
line-height: normal;
}
.h3 {
  margin-bottom: 24px;
  font-size: 26px;
  font-weight: 400;
line-height: normal;
}
.p {
  font-size: 22px;
  font-style: italic;
  text-align: center;
}
.calc {
position: relative;
margin-bottom: 152px; 
}
.bgimage {
  position: absolute;
  top: 150px;
  width: 100%;
  z-index: -1;
  opacity: 0.2;
}
.calc-subtitle {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.calc__inner {
  padding: 60px 98px 0 98px;
  display: flex;
}
.calc__box {
  padding: 0 28px 28px 28px; 
}

.calc__wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-right: 2px solid;
}
.data {
  display: flex;
  gap: 20px;
  align-items: center;  
 }
 
 .label {
   font-size: 22px;
   width: 50%;
 }
 
.results {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.result {
  display: flex;
  gap: 20px;
  align-items: center;
}
.label_result {
  font-size: 22px; 
  font-style: italic;
}
.label_total {
  font-size: 20px;
  font-weight: 600;
}
.result-node { 
  font-size: 20px;
  font-style: italic;
  line-height: 26px;
}
.result-title {
  margin-left: 20px;
  margin-top: 15px;

  font-size: 28px;
  font-weight: 700;
line-height: normal;
}
.down {
  display: none;  
}

@media (max-width: 961px) {
  .h1 {
    font-size: 32px;
  }
  .h3 {
    font-size:22px;
    margin-bottom: 12px;
  }
  .h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600; 
  }
  .p {
    font-size: 16px;
    font-style: italic;
    text-align: center;
  }
  .calc {   
    margin-bottom: 48px; 
    }
  .calc__inner {
    padding: 6px 0px 0 20px;  
  }
  .calc__box {
    padding: 20px; 
  }
  .results {
    margin-top: 16px;
    gap: 16px;
  }
  .label_total {
    font-size: 20px;
  }
  .label_result {
    font-size: 20px;   
  }
  .bgimage {  
    top: 185px; 
  }  
}
@media (max-width: 700px) {
  .h1 {
    margin-bottom: 8px;
    margin-top: 10px;
    font-size: 16px;
   
  }
  .h3 {
    font-size:14px;
    margin-bottom: 8px;
  }
  .h2 {
    margin-bottom: 10px;
    font-size: 20px;

  }
  .p {
    display: none;
    /* font-size: 16px;
     text-align: left; */
  }
  .calc { 
    max-width: 100%;  
    margin-bottom: 16px; 
    }
  
  .calc__inner {
    flex-direction: column; 
    padding: 6px 0px 0 0px;   
  }
  .calc__wrapper {   
    width: 100%;
    border-right: none;
  
  }
  .calc__box {
    padding: 6px 6px 12px 6px;
    border: 1px solid  #3b3010;
    border-radius: 5px;
  }
  .label {
    font-size: 17px;
  }
  .results {
    margin-top: 8px;
    gap: 8px;
  }
  .label_total {
    font-size: 16px;
  }
  .label_result {
    font-size: 17px;   
  }
  .bgimage {  
    top: 140px; 
  } 
  .data {
    gap: 80px;
  }
  .result-node { 
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
  }
  .down {
    margin-top: 6px;
   display: block;
  }
  .result-txt {
    font-size: 17px;
    font-weight: 600;
  }
  .result-txt:active,
  .result-txt
  :hover {
   color: #584920;

  }
  .result-h2 {
    margin-bottom: 20px;
    margin-top: 6px;
    padding: 6px;
    background-color: #f1cb63;    
    /* border: 1px solid #3b3010; */   
  }
  
}
