


.form__wrapper {
  margin-top: 46px;
  margin-bottom: 30px;
 
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.btn,
.input
 {
  font-size: 24px;
  font-weight: 400;
line-height: 39px;
}

.input {
 padding: 11px;
 /* display: inline-block;  */
 width: 80px; 
 height: 40px;
 border: 2px solid #231a02;
 border-radius: 5px;
}
.input:focus,
.input:focus {
 background-color: #f6f4ee;

 
}
.post-text-input {
padding: 11px 0 200px 20px;
  border: 1px solid #000;
  resize: none;
 }


.btn {
  margin-top: 20px;
  display: inline-block;
padding-top: 9px;
padding-bottom: 12px;
width: 80%;
background-color: #3b3010;
color: #f1cb63;
}
.btn:active,
.btn:hover {
  background-color: #584920; 
}
.btn:disabled {
  cursor: default;
  opacity: 0.5;
} 
@media (max-width: 961px) {
  .form__wrapper {
    margin-top: 24px;
    margin-bottom: 0px;
    gap: 20px;
  }
  .btn {
    margin-top: 16px;   
  padding-top: 6px;
  padding-bottom: 6px; 
  }

}
@media (max-width: 700px) {

  .btn,
.input {
  font-size: 20px;
}
.btn {
  margin-top: 10px;   
padding-top: 0px;
padding-bottom: 0px;
margin-bottom: 10px; 
}
.input {
  padding: 11px;
  /* display: inline-block;  */
  width: 72px; 
  height: 36px;
  border: 2px solid #231a02;
  border-radius: 5px;
 }

}