.advertising-box {
  margin-top: 104px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px 0 50px;
}
.box-wrapper {
  position: relative;
  overflow: hidden;
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border: 4px solid #5c460b;
  border-radius: 10px;
  background-repeat: no-repeat;
 background-size: cover;
}
.box-wrapper::after {
  content: "";
  background: url(./../../assets/bgBox.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.box-text {
  font-size: 22px;
}
.box-title {
  text-align: center;
  
}
.box-subtitle {
  font-style: italic;
  font-size: 24px;
}
.subtext {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.detailed-title {
  font-weight: 600;
}
@media (max-width: 961px) {
  .box-subtitle {   
    font-size: 20px;
  }
  .box-wrapper {  
    padding: 22px;  
    gap: 12px;
  }
  .box-text {
    font-size: 18px;
  }
}
@media (max-width: 700px) {
  .advertising-box { 
    padding: 0 15px 0 15px;
  }
  .box-wrapper {  
    padding: 22px;  
    gap: 12px;
  }
  .box-title {
    margin-bottom: 0px;
    text-align: center;    
  }
  .box-text {
    font-size: 17px;
  }
  .box-subtitle {   
    font-size: 17px;
  }
  .detailed {
    font-size: 14px;
    text-align: center;
  }
 
}
