.advertising-box {

  margin-top: 68px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px 0 50px;


}



/* height: 100%; */


.box-wrapper {
  position: relative;
  overflow: hidden;
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border: 4px solid #5c460b;
  border-radius: 10px;
  /* background-image: url(./../../assets/bgBox.jpg); */
  background-repeat: no-repeat;
 background-size: cover;


}
.box-wrapper::after {
  content: "";
  background: url(./../../assets/bgBox.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
/* .bgBox {
  position: absolute;
  opacity: 0.2;
  height: 100%;
  width: auto;

} */
.box-text {
  font-size: 22px;
}
.box-title {
  text-align: center;
  
}
.box-subtitle {
  font-style: italic;
  font-size: 24px;
}
.subtext {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
